<div>
  <div class='card'>
    <picture><img src='{{this.image_url}}' alt='{{this.name}}' /></picture>
    <p>Name: {{this.name}}</p>
    <p>Tagline: {{this.tagline}}</p>
    <p>Description: {{this.description}}</p>
  </div>
</div>